---
import AdminDashboard from "../components/react/AdminDashboard.jsx";
import Layout from "../components/layout.astro";

let user = null;

if (Astro.locals.pb.authStore.isValid) {
    user = Astro.locals.pb.authStore.model;
}

if (!user?.isAdmin) {
    return Astro.redirect("/");
}

const users = await Astro.locals.pb.collection("users").getFullList();
const coins = await Astro.locals.pb.collection("Coins").getFullList();
const transactions = (await Astro.locals.pb.collection("Transactions").getFullList()).length;

if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();
    try {
        await Astro.locals.pb.collection('users').update(data.get('id'), {isAdmin: true});
    } catch (error) {
        console.error(error);
    }
};
---

<html>
    <head>
        <title>Admin Dashboard</title>
    </head>
    <body>
        <Layout>
            <AdminDashboard client:load users={users} coins={coins} transactions={transactions}/>
        </Layout>
    </body>
</html>