---
import Coin from '../components/Coin';
import NavBar from '../components/NavBar';
---

<html>
    <head>
        <title>Coin Page</title>
    </head>
    <body>
        <main>
            <NavBar />
            <Coin client:load/>
        </main>
    </body>
</html>