---
import Dashboard from "../components/dashboard.astro";
import Layout from '../components/Layout.astro';
---

<html>
    <head>
        <title>Users Page</title>
    </head>
    <body>
        <main>
            <Layout>
                <Dashboard />
            </Layout>
        </main>
    </body>
</html>