---
import Coin from '../components/Coin'
import Test from '../components/test.svelte';
---

<!-- <Layout title="Welcome to Astro."> -->
<html>
	<main>
		<h1> Todos </h1>
		<a href="/todos">Todos </a>
		<a style="margin-left: 10px;" href="/login">Login</a>
		<a style="margin-left: 20px;" href="/logout">Logout</a>
		<a style="margin-left: 30px;" href="/signup">SignUp</a>
		<Test />
		<Coin client:only="solid-js"/>
	</main>
</html>
<!-- </Layout> -->