---
import Dashboard from "../components/Dashboard/dashboard.astro";
import Layout from "../components/layout.astro";
---

<html>
    <head>
        <title>Dashboard Page</title>
    </head>
    <body>
        <Layout>
            <Dashboard />
        </Layout>
    </body>
</html>
