---
import Profile from '../components/Profile';
import NavBar from '../components/NavBar';
---

<html>
    <head>
        <title>Profile Page</title>
    </head>
    <body>
        <main>
            <NavBar />
            <Profile />
        </main>
    </body>
</html>