---
import Layout from '../components/Layout.astro';

type todo = {
  isDone: boolean
  created: Date
  todo: string
  updated: Date
}

let todos : todo[] = []

if (Astro.locals.pb.authStore.isValid) {
  todos = await Astro.locals.pb.collection('todos').getFullList()
}

---
<html>
    <head>
        <title>Todos Page</title>
    </head>
    <body>
        <main>
            <Layout>
                <h1>Todo List</h1>
                <a href="/logout">Logout</a>
                <a href="/" style="margin-left: 10px;">Home</a>
                { todos.map(todo => <div>{todo.todo}</div>) }
            </Layout>
        </main>
    </body>
</html>

<script>
    console.log("Hello from the client")
</script>
