---
import UserSearch from '../components/UserSearch';
import Layout from '../components/layout.astro';

const users = await Astro.locals.pb.collection('users').getFullList()
---

<html>
    <head>
        <title>Users Page</title>
    </head>
    <body>
        <Layout>
            <UserSearch users={users}/>
        </Layout>
    </body>
</html>