---
import Users from '../components/Users';
import NavBar from '../components/NavBar';
---

<html>
    <head>
        <title>Users Page</title>
    </head>
    <body>
        <main>
            <NavBar />
            <Users />
        </main>
    </body>
</html>