---
import Users from '../components/Users';
import Layout from '../components/Layout.astro';

const users = await Astro.locals.pb.collection('users').getFullList()
---

<html>
    <head>
        <title>Users Page</title>
    </head>
    <body>
        <Layout>
            <Users users={users}/>
        </Layout>
    </body>
</html>