---import DashboardTable from "./DashboardTable";


export type Coin = {
    id: string;
    name: string;
    symbol: string;
    price: number;
    hour: number;
    day: number;
    week: number;
    marketcap: number;
};

let coins : Coin[] = [];

let resp = await Astro.locals.pb.collection('DashboardCoins').getFullList();

for (let i = 0; i < resp.length; i++) {
    let coin = resp[i];
    coins.push({
        id: coin.CoinId,
        name: coin.Name,
        symbol: coin.Symbol,
        price: coin.Price,
        hour: coin.Hour,
        day: coin.Day,
        week: coin.Week,
        marketcap: coin.Marketcap
    });
}

---




<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <DashboardTable coins={coins} client:load/>
</div>