---
import DashboardTable from "./DashboardTable";

export type Coin = {
    id: string;
    name: string;
    symbol: string;
    price: number;
    hour: number;
    day: number;
    week: number;
    marketcap: number;
};

let coins : Coin[] = [];

let search : string | null = null;

let resp = await Astro.locals.pb.collection('Coins').getFullList();

for (let i = 0; i < resp.length; i++) {
    let coin = resp[i];
    coins.push({
        id: coin.CoinId,
        name: coin.Name,
        symbol: coin.Symbol,
        price: coin.Price,
        hour: coin.Hour,
        day: coin.Day,
        week: coin.Week,
        marketcap: coin.Marketcap
    });
}

if (Astro.url.searchParams.has("search")) {
    search = Astro.url.searchParams.get("search");
    if (search) {
        coins = coins.filter((coin) => {
            return coin.name.toLowerCase().includes(search.toLowerCase());
        });
    }
}

---




<div class="relative overflow-x-auto m-12">
    <DashboardTable search={coins} client:load searchQuery={search}/>
</div>