---
import Profile from '../../components/Profile';
import Layout from '../../components/layout.astro';

const { uid } = Astro.params;

let user = null;

if (uid) {
  try {
    user = await Astro.locals.pb.collection('users').getOne(uid)
  } catch (error) {
    // user not found
  }
}
---

<html>
    <head>
        <title>User Page</title>
    </head>
    <body>
        <Layout>
            <Profile user={user}/>
        </Layout>
    </body>
</html>